:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: steelblue;
	padding: 40px;
}
h1 {
	color: white;
	font-family: "Moon Dance", cursive;
	font-weight: 900;
}
.btn-primary {
	background-color: steelblue;
}
form {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.75rem;
	font-weight: bolder;
}
